/*
 * Container style
 */

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

.ps__rail-y {
  right: unset !important;
  left: 0 !important;
  opacity: 0.6 !important;
}

/*
 * Scrollbar rail styles
 */

.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: #eee;
  opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */

.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color 0.2s linear, height 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, height 0.2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #999;
  height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #999;
  width: 11px;
}

/* MS supports */

@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}

body {
  font-size: 16px;
  color: #313c58;
  font-family: "Montserrat", sans-serif;
}

.ps__thumb-y {
  background-color: #4e8870 !important;
}

.center {
  text-align: center;
}

.over {
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.header__text {
  font-size: 2.7rem;
  line-height: 2.7rem;
  font-weight: bold;
}

.modalOverflow {
  background-color: #434e67;
  display: none;
  opacity: 0.9;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}

.modalOverflow.show {
  display: block;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.34);
  border-radius: 5px;
  width: 750px;
  max-width: 100%;
  height: 550px;
  display: none;
  background-color: white;
}

.modal.show {
  display: block;
}

.orderButton {
  padding: 15px 25px;
  border-radius: 20px;
  background-color: #4e8870;
  color: white;
  font-size: 16px;
  border: none;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
}

.orderButton:hover {
  opacity: 0.9;
}

.header__row--first {
  background-color: #272525;
  display: flex;
  justify-content: space-between;
  color: #c6c8c9;
  padding: 15px 25px;
  font-size: 14px;
}

.header__row--first .contactHeader {
  display: flex;
}

.header__row--first .contactHeader__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4e8870;
}

.header__row--first .contactHeader__icon i {
  font-size: 17px;
}

.header__row--first .contactHeader__text {
  margin-left: 5px;
}

.header__row--second {
  padding: 4px 25px;
}

.header__row--second .headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__row--second .headerNav__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__row--second .headerNav__logo {
  max-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__row--second .headerNav__logo img {
  max-width: 100%;
}

.header__row--second .headerNav .menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__row--second .headerNav .menu li {
  list-style: none;
}

.header__row--second .headerNav .menu__first {
  cursor: pointer;
  margin: auto 25px;
  position: relative;
}

.header__row--second .headerNav .menu__first span {
  transition: 0.2s;
}

.header__row--second .headerNav .menu__first:hover span {
  opacity: 0.9;
  color: #4e8870;
}

.header__row--second .headerNav .menu__first:hover ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.header__row--second .headerNav .menu__first:hover ul li:nth-child(3) ul,
.header__row--second .headerNav .menu__first:hover ul li:nth-child(3) span {
  position: relative;
  right: 25px;
}

.header__row--second .headerNav .menu__first ul {
  display: none;
}

.header__row--second .headerNav .menu__first ul.menu__firstUl {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  min-width: 350px;
  overflow: hidden;
  position: absolute;
  z-index: 1231;
  top: 100%;
  left: 0;
  padding: 7px;
  border-radius: 4px;
}

.header__row--second .headerNav .menu__first ul.menu__firstUl--withSub {
  min-width: 950px;
}

.header__row--second .headerNav .menu__first ul.menu__firstUl span {
  font-weight: bold;
  color: #444;
}

.header__row--second .headerNav .menu__first ul.menu__firstUl ul,
.header__row--second .headerNav .menu__first ul.menu__firstUl li {
  padding: 0;
}

.header__row--second .headerNav .menu__first ul.menu__firstUl ul {
  display: block;
  margin-top: 15px;
}

.header__row--second .headerNav .menu__first ul.menu__firstUl > li {
  margin: 10px 25px;
}

.header__row--second .headerNav .menu__first ul.menu__firstUl ul > li {
  margin: 10px auto;
}

.header__row--second .headerNav .menu__first ul.menu__firstUl a {
  color: #777;
}

.header__row--second .headerNav .menu__first ul.menu__firstUl a:hover {
  color: #000;
}

.title {
  color: #313c58;
  text-align: center;
  position: relative;
  display: inline-block;
  font-size: 3rem;
}

.title:after {
  content: "";
  position: absolute;
  display: block;
  width: 55%;
  top: 115%;
  left: 0;
  right: 0;
  border-bottom: 4px solid #4e8870;
  text-align: center;
  margin: auto;
}

.slider {
  color: #444;
  width: 100%;
  height: 605px;
  position: relative;
}

.slider__title {
  margin-top: 15px;
  font-weight: 700;
}

.slider__titleCont {
  width: 100%;
  text-align: center;
}

.slider__content {
  display: flex;
  justify-content: flex-start;
  padding: 15px 45px;
}

.slider__menuButton {
  display: block;
  padding: 12px 75px;
  text-align: center;
  border-radius: 30px;
  margin: 10px auto;
  font-size: 0.85rem;
  cursor: pointer;
  transition: 0.25s;
  outline: none;
  background-color: white;
  color: #4e8870;
  border: 1px solid #4e8870;
}

.slider__menuButton-active {
  background-color: #4e8870 !important;
  color: white;
}

.slider__menuButton:hover {
  opacity: 0.9;
  background-color: rgba(0, 136, 255, 0.07);
}

.slider__menuButton:focus {
  outline: none;
}

.slider .slide {
  display: none;
  margin-left: 55px;
}

.slider .slide__overflow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-repeat: no-repeat;
}

.slider .slide__overflow-animate {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

.slider .slide-show {
  display: block;
}

.slider .slide__textHeader {
  font-size: 1.7rem;
  font-weight: 700;
}

.slider .slide__text {
  margin: 15px auto;
}

.slider .slide__textCont {
  max-height: 250px;
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
  position: relative;
  padding-left: 25px;
}

.slider .slide__orderButton {
  margin-top: 15px;
  padding-left: 35px;
  padding-right: 35px;
}

.slider .slide__bottom {
  position: absolute;
  left: 45px;
  bottom: 35px;
}

.slider .slide__bottomRow {
  display: flex;
}

.slider .slide__bottomLastPrice {
  font-size: 1.4rem;
  text-decoration: line-through;
  font-weight: 700;
}

.slider .slide__bottomPrice {
  font-size: 2.4rem;
  font-weight: 700;
}

.slider .slide__bottomComment {
  margin-left: 115px;
}

.modalOverflow {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #313c58;
  display: none;
}

.modalOverflow.show {
  display: block;
}

.modal__inner {
  padding: 25px;
  text-align: center;
}

.modal input {
  padding: 5px 20px;
  border-radius: 5px;
  border: 2px solid #4e8870;
  font-size: 1.25rem;
}

.modal__buttonCont {
  margin-top: 25px;
}

body.non-scroll {
  overflow: hidden;
}

@-webkit-keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


